.custom-banner {
  background-image: url(../../../images/bbb.gif);
  /* background-image: url(../../../images/bb.gif); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.banner-container {
  height: 600px;
}

.banner-text {
  color: white;
  font-weight: 800;
  font-size: 55px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.banner-button {
  background-color: white;
  padding: 20px 40px;
  border: 0;
  font-weight: 600;
  margin: 20px 0;
}

.banner-button:hover {
  background-color: rgb(11, 153, 153);
  color: white;
}
